/* ===== LINHAS ===== */
.row{
  display:flex;
  gap:14px;
  align-items:center;       /* <-- centraliza vertical */
  justify-content:flex-start;
  padding: 16px 6px;
  border-bottom:1px solid #E5E7EB;
}
.row:last-child{ border-bottom:0; }

.icon{
  color: var(--teal);
  flex: 0 0 44px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.icon svg{
  width:44px !important;
  height:44px !important;
}

.kv{ 
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.k{ font-weight:900; font-size:18px; color:#1F2937; line-height:1.2; }
.v{ font-weight:600; font-size:17px; color:#5B6472; line-height:1.2; }
